<div class="row">
  <div class="col-md-4">
    <div class="flip-wrapper" ontouchstart="this.classList.toggle('hover');">
      <div class="flip">
        <div class="front">
          <div class="card">
              <img src="https://media.giphy.com/media/2vr7ItMhi0n5XSKRbe/giphy.gif" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="back">
          <div class="red">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">WORDS 📖</h5>
                  <p class="card-text">
                    <ul class="fa-ul">
                      <li><i class="fa-li fas fa-asterisk yellowText"></i><a target="_blank" href="https://www.nytimes.com/2019/01/14/opinion/california-teachers-strike.html">#RedforEd</a></li>
                      <li><i class="fa-li fas fa-asterisk yellowText"></i><a target="_blank" href="https://medium.com/@Hent03">Snippets</a></li>
                    </ul>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="flip-wrapper" ontouchstart="this.classList.toggle('hover');">
      <div class="flip">
        <div class="front">
          <div class="card">
              <img src="https://media.giphy.com/media/vKXrNeZUld3HN6g0Zj/giphy.gif" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="back">
          <div class="yellow">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">MUSIC 🎶</h5>
                  <iframe src="https://open.spotify.com/embed/user/ununoctium829/playlist/3sP3MwQkZXbZwVvrJRdE5A" height="180" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="flip-wrapper" ontouchstart="this.classList.toggle('hover');">
      <div class="flip">
        <div class="front">
          <div class="card">
              <img src="https://media.giphy.com/media/3htkbKNPOIrF7po0BU/giphy.gif" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="back">
          <div class="red">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">COOL STUFF 🚡</h5>
                  <p class="card-text">
                    <ul class="fa-ul">
                      <li><i class="fa-li fas fa-asterisk yellowText"></i><a target="_blank" href="https://www.reddit.com/r/MechanicalKeyboards/">mechanical keyboards</a></li>
                      <li><i class="fa-li fas fa-asterisk yellowText"></i><a target="_blank" href="https://imgur.com/gallery/coyNwRX">art</a></li>
                      <li><i class="fa-li fas fa-asterisk yellowText"></i><a target="_blank" href="https://www.youtube.com/watch?v=ZQUxL4Jm1Lo">just in case :')</a></li>
                      <p class="card-text"><small class="whiteText">*type <em>totoro</em> for a surprise*</small></p>
                    </ul>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
