<h2>Projects1:</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="card-wrapper" ontouchstart="this.classList.toggle('hover');">
        <div class="card">
          <div class="front">
            <p class = 'front-card'>Hover!</p>
          </div>
          <div class="back">
            <p>Flipped!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card-wrapper" ontouchstart="this.classList.toggle('hover');">
        <div class="card">
          <div class="front">
            <p class = 'front-card'>Hover!</p>
          </div>
          <div class="back">
            <p>Flipped!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card-wrapper" ontouchstart="this.classList.toggle('hover');">
        <div class="card">
          <div class="front">
            <p class = 'front-card'>Hover!</p>
          </div>
          <div class="back">
            <p>Flipped!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
