.body {
  background-color: #4183d7;
  font-family: 'Josefin Sans', sans-serif;
}

.card-img-top{
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.header {
  padding-top: 5%;
  padding-bottom: 2%;
}

.contact {
  margin-bottom: 1%;
  text-align: center;
  color: #e4e9ed;
}

.flip-wrapper {
  perspective: 1000px;
}

.flip-wrapper, .front, .back {
  width: 100%;
  height: 300px;
}

.flip {
  transition: 0.9s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-wrapper:hover .flip, .flip-wrapper.hover .flip, .flip-wrapper.flip .flip{
  transform: rotateY(180deg);
}

.front, .back{
  position: absolute;
  backface-visibility: hidden;
  color: black;
  text-align: center;
}

p.front-card{
  background: black;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.front .card{
  background-color: #4183d7;
  border-style: dotted;
  border-width: 5px;
}

.back .yellow .card {
  background: #ffda5a;
}

.back .red .card {
  background: #fe4952;
}

.blackText{
  color: #2e3131;
}

.redText {
  color: #fe4952;
}

.yellowText{
  color: #ffda5a;
}

.whiteText{
  color: #e4e9ed;
}

.icon{
  padding: 3px;
}

a{
  color: #2e3131;
}
a:hover {
  color: #4183d7;
}

.egg{
  display: none;
}
