<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kaitlyn Chan</title>
  {{> head}}
</head>
<div class="container-fluid">

  <body class="body">
    <div class="container">
      {{> header}}
      {{> intro }}
      {{> intro2 }}
      {{> contact}}
    </div>
  </body>

  {{> scripts}}
</div>

</html>
