<div class="header">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-3">
          <span class="blackText">K</span><span class="redText">a</span><span class="yellowText">i</span><span class="blackText">tl</span><span class="yellowText">y</span><span class="blackText">n</span><span class="redText"> C</span><span class="blackText">h</span><span class="yellowText">a</span><span class="redText">n</span>
        </h1>
      </div>
    </div>
</div>
