  <div class="row">
    <div class="col-md-4">
      <div class="flip-wrapper" ontouchstart="this.classList.toggle('hover');">
        <div class="flip">
          <div class="front">
            <div class="card">
                <img src="https://media.giphy.com/media/93fuMV2yfa67CNcBWs/giphy.gif" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="back">
            <div class="yellow">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">RESUME 🌟</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="flip-wrapper" ontouchstart="this.classList.toggle('hover');">
        <div class="flip">
          <div class="front">
            <div class="card">
                <img src="https://media.giphy.com/media/dYsB5F09z0fYvQLm9K/giphy.gif" class="card-img-top" alt="...">
              </div>
          </div>
          <div class="back">
          <div class="red">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">PROJECTS 🚧</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="flip-wrapper" ontouchstart="this.classList.toggle('hover');">
        <div class="flip">
          <div class="front">
            <div class="card">
                <img src="https://media.giphy.com/media/2UwGGJChuiL5lmeTou/giphy.gif" class="card-img-top" alt="...">
              </div>
          </div>
          <div class="back">
            <div class="yellow">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">LEARNING 🚏</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
